<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="userEmail">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName">
            </div>
            <div class="form-group">
                <label for="child1">First Child Full Name</label>
                <input type="text" class="form-control" name="child1">
            </div>
            <div class="form-group">
                <label for="Child2">Second Child Full Name</label>
                <input type="text" class="form-control" name="child2">
            </div>
            <!-- <h3>Please choose two elves from the list or enter your own elves </h3> -->
            <div class="form-group">
                <label for="Elf1">Select Elf from the list</label>
                <input type="text" class="form-control" name="elf1">
            </div>
            <div class="form-group">
                <label for="Elf2">Select second Elf from the list</label>
                <input type="text" class="form-control" name="elf2">
            </div>
            
            <ul>
                <li>Joy</li>
                <li>Hope</li>
                <li>Noelle</li>
                <li>Esparanza</li>
                <li>Frosty</li>
                <li>Eve</li>

            </ul>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
    
      </div>
    </div>

  </div>
</div>


<%- include('partials/header') %>
