<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered a Plan!</h1>

    <p class ="secret-text">Unveil your 25 days plan!!!</p>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/calendar" role="button">Unveil here</a>
  </div>
</div>

<script type="text/javascript">
  var username = <%-JSON.stringify(user)%>
  console.log(username)
  // Take data object and assign userId, child and elf names to local storage.
  // When accessing the daily modals, get from local storage elf and child names
</script>

<%- include('partials/footer') %>
