body {
  background-image:url(../css/image/christmas-plan.jpeg) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
 

.centered {
    padding-top: 200px;
    text-align: center;
}
.jumbotron{
  background-color: transparent;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
/* .card-title{
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #FED152;

} */
/* --------------------------------------- */


